/* Common */
.left {
  float: left;
}

.left__content {
  width: 600px;
  background-color: #cafbce;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #cafbce;
  color: #0a8915;
  margin: 2em 0;
  padding: 1em;
  margin-top: 0;
}

body {
  margin: 0;
  color: #555;
}

h2 {
  border-bottom: 2px solid #fc6;
}

h3 {
  padding-left: 40px;
}

.content {
  background-color: #FFF0E1;
  border: solid #eee;
  border-radius: 10px;
  overflow: hidden;
}

.aisatu {
  text-align: center;
  background: url(http://miyanari-cook.com/theme/miyanari-cook/img/prof/about_img_02.png) no-repeat center;
  height: 400px;
}

.news {
  list-style-type: none;
  height: auto;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  padding: 10px 10px 0px;
  color: #555;
  height: 300px;
  width: 500px;
}

.menu {
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  padding: 10px 10px 0px;
  color: #555;
}

.news__index {
  list-style-type: none;
  border: solid;
}

.menus {
  display: flex;
  justify-content: space-between;
}

/* Header */
.header_titel {
  background: url(http://miyanari-cook.com/theme/miyanari-cook/img/header_top_bg.png);
  height: 80px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  padding: 10px 10px 0px;
  color: #555;
  position: absolute;
  top: -20px;
}

.box {
  width: 1000px;
  margin: 0 auto;
}

.index li {
  display: inline;
  list-style-type: none;
}

.index li a div {
  display: inline-block;
  background-color: #fc6;
  color: #f30;
  width: 150px;
  height: 25px;
  padding: 15px 0px 15px 0px;
  text-align: center;
  border-radius: 45px;
}

.index li a div:hover {
  background-color: #fa0;
}

/* SideBar */
.side {
  float: right;
  width: 300px;
  border: solid 1px;
  background-color: #cafbce;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #cafbce;
  color: #0a8915;
  margin: 2em 0;
  padding: 1em;
  margin-top: 0;
}

/* Footer */
#footer {
  padding: 50px 10px 5px;
  background-color: #fc6;
  color: #f30;
  clear: both;
}
