.MainLogoBox {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    &__sub {
        background-color: rgba(255,255,255,0.2);
        padding: 16px 0 10px;
    }
    &__head {
        font-size: 1.6vw;
    }
    &__body {
        font-size: 5.4vw;
        padding-top: 0.8vw;
    }
}
