.flame__gleen{
    background-color: $color-box-shadow;
    border: 2px solid $color-border-soloe;
    box-shadow: 0 0 0 2px $color-box-shadow;
    color: $color-green-fleam;
    margin: 2em 0;
    padding: 1em;
    margin-top: 0;
}
