.flame__gleen{
    background-color: $color-box-shadow;
    border: 2px solid $color-border-soloe;
    box-shadow: 0 0 0 2px $color-box-shadow;
    color: $color-green-fleam;
    margin: 2em 0;
    padding: 1em;
    margin-top: 0;
}

.main_img{
    width:1060px;
    height:400px;
    img:url
}


.left__content {
    width: 600px;
}

body {
    margin:0;
    color: $color-base;
}


h2 {
    border-bottom: 2px solid $border-bottom;
    font-weight: bold;
    line-height: normal;
}

h3{
    padding-left: 15px;
    font-weight:bold;
}

.content {
    background-color: $color-content-back;
    border:solid $color-content-solidline;
    border-radius: 10px;
    display: flex;
    line-height:normal;
}

.aisatu{
    text-align: center;
    background:url(http://miyanari-cook.com/theme/miyanari-cook/img/prof/about_img_02.png)no-repeat center;
    height: 400px;
}

.news{
    list-style-type: none;
    height: auto;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    padding: 10px 10px 0px;
    color: $color-base;
    height: 200px;
    width: 500px;
}

.menu{
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    padding: 10px 10px 0px;
    color: $color-base;
}

.news__index{
    list-style-type: none;
}

.news__index p {
    padding:15px;
}

.menus{
    display: flex;
    justify-content:space-between;
}
