.left{
    float: left;
}

.left__content {
    width: 600px;
    background-color: #cafbce;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #cafbce;
    color: #0a8915;
    margin: 2em 0;
    padding: 1em;
    margin-top: 0;
}

body {
    margin:0;
    color: #555;
}


h2 {
    border-bottom: 2px solid #fc6 ;
}

h3{
    padding-left: 40px;
}

.content {
    background-color: #FFF0E1;
    border:solid #eee;
    border-radius: 10px;
    overflow: hidden;
}

.aisatu{
    text-align: center;
    background:url(http://miyanari-cook.com/theme/miyanari-cook/img/prof/about_img_02.png)no-repeat center;
    height: 400px;
}

.news{
    list-style-type: none;
    height: auto;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    padding: 10px 10px 0px;
    color: #555;
    height: 300px;
    width: 500px;
}

.menu{
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    padding: 10px 10px 0px;
    color: #555;
}

.news__index{
    list-style-type: none;
    border : solid ;
}

.menus{
    display: flex;
    justify-content:space-between;
}
