$color-base:#555;

$color-green-fleam:#0a8915;

$color-box-shadow:#cafbce;

$color-border-soloe:#fff;

$color-content-back:#FFF0E1;

$color-content-solidline:#eee;

$border-bottom:#fc6;

$border-bottom-hover:#fa0;

$color-buttn-base:#f30;

// $color-side-base:;

// $color-footer-base:;


